<!DOCTYPE html>
<html lang="en-us" class="layout-pf layout-pf-fixed" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <script>
        function editProject(id)
        {
            window.location.href = '/editProject/' + id;
        }
    </script>
</head>
<body class="cards-pf">

<!--/*/ <th:block th:include="fragments/headerinc :: navbar"></th:block> /*/-->

<div class="nav-pf-vertical nav-pf-vertical-with-secondary-nav">

    <ul class="list-group">
        <li class="list-group-item">
            <a href="/projects">
                <span class="fa pficon-enterprise"></span>
                <span class="list-group-item-value">Projects</span>
            </a>
        </li>
        <li class="list-group-item active">
            <a href="#" data-th-href="@{/project/}+${project.id}">
                <span class="fa pficon-regions"></span>
                <span class="list-group-item-value">Components</span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="#" data-th-href="@{/project/}+${project.id}+'/technologies'">
                <span class="fa pficon-build"></span>
                <span class="list-group-item-value">Technologies</span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="#" data-th-href="@{/project/}+${project.id}+'/issues'">
                <span class="fa pficon-zone"></span>
                <span class="list-group-item-value">Issues</span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="#" data-th-href="@{/project/}+${project.id}+'/dependencies'">
                <span class="fa pficon-registry"></span>
                <span class="list-group-item-value">Dependencies</span>
            </a>
        </li>
    </ul>
</div>

<div class="container-fluid container-pf-nav-pf-vertical container-pf-nav-pf-vertical-with-secondary">
    <div class="row">
        <div class="col-xs-12 panel panel-default">
            <div class="panel-heading">
                <span class="h3 panel-title" data-th-text="${project.name}">Project</span>
                <button class="btn btn-default pull-right fa fa-pencil" data-th-onclick="'editProject(' + ${project.id} + ');'"> Edit</button>
            </div>
            <div class="panel-body">
                <button class="btn btn-success btn-lg fa fa-cog" onclick="window.location.href='/Components/analyse'" type="button"> Analyse Components</button>
                <table class="datatable table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Component Name</th>
                        <th>Group</th>
                        <th>Status</th>
                        <th>Story Points</th>
                        <th>Incident Count</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-th-each="component : ${project.components}">
                        <td>
                            <a href="/component/1" th:if="${component.reportAvailable}" data-th-href="@{/component/}+${component.id}" data-th-text="${component.name}">Component name</a>
                            <span th:if="${!component.reportAvailable}" data-th-text="${component.name}">Component name</span>
                        </td>
                        <td th:if="${component.componentGroup != null}" data-th-text="${component.componentGroup.name}">Group name</td>
                        <td th:if="${component.componentGroup == null}" ></td>
                        <td data-th-text="${component.status}">status</td>
                        <td data-th-text="${component.storyPoints}">1049</td>
                        <td data-th-text="${component.incidentCount}">status</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<script>
  $(document).ready(function() {

    // initialize tooltips
    $('[data-toggle="tooltip"]').tooltip();

    // Initialize the vertical navigation
    $().setupVerticalNavigation(true);

    $('.datatable').dataTable();

  });
</script>
</body>
</html>


